<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let menu of navigationMenu" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[menu.link]">{{ menu.name }}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 buscador" type="search" placeholder="Buscar" aria-label="Search">
      </form>
      <li class="nav-item">
        <a class="nav-link p-2"><i class="fas fa-plus"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2"><i class="fas fa-folder"></i></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link p-2"><i class="fas fa-bell"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2"><i class="fas fa-th"></i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="header">
  <p>STP Networks</p>
</div>
