.header{
  background-color: #1278C2;
  color: #FFFFFF;

  p{
    padding: 10px;
  }
}

.buscador{
  background: #2D82B9;
  color: #FFFFFF;
  border: none;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.buscador::placeholder {
    color: #FFFFFF;
    opacity: 1; /* Firefox */
}
