@import "../../../../node_modules/bootstrap/scss/bootstrap";

.cont-detalle-usuario {
  background: $gray-200;
  padding: 10px;
  min-height: 420px;
  border: solid 1px $gray-400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cont-total-items-pendientes {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: $gray-100;
  border: solid 2px $gray-400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    margin-top: 10px;
    font-family: sans-serif;
    color: $black;
    font-size: 30px;
    font-weight: bold;
  }
}
