<div class="row">
  <div class="col">
    <h5> {{ nameUser }} <span class="badge badge-success">Cuenta</span></h5>
  </div>
  <div class="col">
    <div class="float-right">
    <button type="button" class="btn btn-success btn-sm mr-2"><i class="fas fa-pen"></i> Editar {{ nameUser }}</button>
      <button type="button" class="btn btn-light btn-sm border"><i class="fas fa-ellipsis-v"></i></button>
    </div>
  </div>
</div>

<!-- tabs detalle usuario -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#detalles" role="tab" aria-selected="false">Detalles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#eventos" role="tab" aria-selected="true">Eventos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#proyectos" role="tab" aria-selected="false">Proyectos <span class="badge badge-secondary">1</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tareas" role="tab" aria-selected="false">Tareas <span class="badge badge-secondary">2</span></a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active p-3" id="detalles" role="tabpanel">

    <div class="row">
      <!-- panel de detalle del usuario -->
      <div class="col-12 col-sm-3">
        <div class="cont-detalle-usuario">
          <div>
            <label class="text-success">{{ nameUser }} </label>
            <button type="button" class="btn btn-link float-right text-secondary">
              <span aria-hidden="true"><i class="fas fa-pen fa-xs"></i></span>
            </button>
          </div>
        </div>
      </div>

      <!-- panel de edición -->
      <div class="col-12 col-sm-6">
        <div class="alert alert-secondary alert-dismissible fade show text-center" role="alert">
          No public profile
          <button type="button" class="close" >
            <span aria-hidden="true"><i class="fas fa-pen fa-xs"></i></span>
          </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
          No private notes
          <button type="button" class="close" >
            <span aria-hidden="true"><i class="fas fa-pen fa-xs"></i></span>
          </button>
        </div>

        <div class="row">
          <div class="col-12">
            <h5>Permisos:</h5>

            <small class="font-weight-bold">Administrador</small>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">¿Este es un usuario administrador?</label>
            </div>
          </div>
        </div>
      </div>

      <!-- panel de items asignados al usuario -->
      <div class="col-12 col-sm-3">

        <div class="row">
          <div class="col-4 text-center" *ngFor="let item of itemsAsignados">
            <label class="font-weight-bold">{{ item.name }}</label>
            <div class="cont-total-items-pendientes">
              <p>{{ item.totalItems }}</p>
            </div>
            <small class="text-muted">{{ item.estado.name }}<br>{{ item.estado.total }}</small>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="tab-pane fade p-3" id="eventos" role="tabpanel">...</div>
  <div class="tab-pane fade p-3" id="proyectos" role="tabpanel">...</div>
  <div class="tab-pane fade p-3" id="tareas" role="tabpanel">...</div>
</div>
