<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#empresas" role="tab" aria-selected="false">Empresas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#personas" role="tab" aria-selected="true">Personas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#historiasAcceso" role="tab" aria-selected="false">Historial de acceso</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="empresas" role="tabpanel">...</div>
  <div class="tab-pane fade show active p-3" id="personas" role="tabpanel">

    <div class="row">
      <div class="col">
        <h5>Personas</h5>
      </div>
      <div class="col">
        <div class="float-right">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ordenar por: Nombre
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Nombre</a>
              <a class="dropdown-item" href="#">Apellido</a>
            </div>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-light border"><i class="fas fa-arrow-up"></i></button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-light border"><i class="fas fa-bars"></i></button>
            <button type="button" class="btn btn-light border"><i class="fas fa-list"></i></button>
            <button type="button" class="btn btn-light border"><i class="fas fas fa-th"></i></button>
          </div>
        </div>
      </div>
    </div>

    <br>

    <table class="table">
      <thead class="bg-primary text-white">
        <tr class="text-uppercase">
          <th></th>
          <th></th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Website</th>
          <th>DOB</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of listUsers">
          <td>
            <span class="pointer"><i class="fas fa-user {{ users.status === 'inactive' ? 'text-success' : 'text-danger' }}"></i></span>
          </td>
          <td>
            <span (click)="getUserDetail(users.id)" class="text-secondary pointer" aria-hidden="true"><i class="fas fa-eye fa-sm"></i></span>
          </td>
          <td>{{ users.first_name }}</td>
          <td>{{ users.last_name}}</td>
          <td>
            <a [href]="users.website" target="_blank">{{ users.website }}</a>
          </td>
          <td>{{ users.dob }}</td>
          <td>
            <a href="mailto:{{ users.email }}">
              <i class="fas fa-envelope"></i> {{ users.email }}
            </a>
          </td>
          <td>{{ users.address }}</td>
          <td>
            <a href="tel:{{ users.website }}" target="_blank">
              <i class="fas fa-phone-alt"></i> {{ users.phone }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="tab-pane fade" id="historiasAcceso" role="tabpanel">...</div>
</div>
